Client_Java/src/main/java/mypackage/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:8585/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionEuroToDH">
<part name="parameters" element="tns:ConversionEuroToDH"/>
</message>
<message name="ConversionEuroToDHResponse">
<part name="parameters" element="tns:ConversionEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="listeComptes">
<part name="parameters" element="tns:listeComptes"/>
</message>
<message name="listeComptesResponse">
<part name="parameters" element="tns:listeComptesResponse"/>
</message>
<portType name="BanqueService">
<operation name="ConversionEuroToDH">
<input wsam:Action="http://ws.example.org/BanqueService/ConversionEuroToDHRequest" message="tns:ConversionEuroToDH"/>
<output wsam:Action="http://ws.example.org/BanqueService/ConversionEuroToDHResponse" message="tns:ConversionEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws.example.org/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws.example.org/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="listeComptes">
<input wsam:Action="http://ws.example.org/BanqueService/listeComptesRequest" message="tns:listeComptes"/>
<output wsam:Action="http://ws.example.org/BanqueService/listeComptesResponse" message="tns:listeComptesResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listeComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8585/"/>
</port>
</service>
</definitions>